*{
  background-color: lightgray
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
  position: absolute;
  border-style: solid;
  background-color: yellow;
  top:0px;
  left: 5px;
  padding: 5px;
  border-radius: 20px;
  color:green;
  font-size: 37px;
}
.logo:hover{
  background-color: green;
  color: yellow;
}
.register-link{
  color: yellow;
  text-decoration: none;
}

.navBar{
  position: absolute;
  top:0px;
  left:0px;
  border-style: solid;
  border-color:  green;
  background-color: green;
  height:60px;
  width:100%;
}
#signUp-btn{
  margin-top:15px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right:5px;
  border-style: none;
  background-color: green;
  font-family: cursive;
  color:yellow;
}
#signUp-btn:hover{
  background-color: darkgreen;
}

#teacher-btn{
  position: absolute;
  left:3px;
  bottom:3px;
  border-radius: 20px;
  border-style: none;
  color:yellow;
  padding: 10px;
  background-color: green;
  font-family: cursive;
  font-size: 30px;
}

#student-btn{
  position: absolute;
  left:3px;
  bottom:3px;
  border-radius: 20px;
  border-style: none;
  color:yellow;
  padding: 10px;
  background-color: green;
  font-family: cursive;
  font-size: 30px;
}

#student-btn:hover,#teacher-btn:hover{
  background-color:  darkgreen;
}

.heading-quizsu{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: cursive;
  color:darkgreen;
}
#q-icon{
  font-size: 28px;
  font-weight: bolder;
  color:darkgreen;
}
.quizsuTagline{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: cursive;
  color:darkgreen;
}
.flipCards{
  display: flex;
  justify-content: space-evenly;
}


.teacher-stn {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .teacher-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .teacher-front, .teacher-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .teacher-front {
    background-image: url("image/teacherFlip.png");
    background-size: 100%;
 
  }
  
  .teacher-back {
    background-color: green ;
    color: white;
    transform: rotateY(180deg);
  }

.student-stn {
    background-color: transparent;
    width: 500px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .student-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }


  
  .student-front, .student-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .student-front {
    background-image: url("image/studentFlip.png");
    background-size: 100%;
  
  }
  

  .student-back {
    background-color: green;
    color: white;
    transform: rotateY(180deg);
  }

  .footer-stn{
    position:absolute;
    bottom:0px;
    border-style: solid;
    border-color: green;
    background-color:green;
    height:120px;
    width: 100%;
  }
  .copyright{
    color:white;   
    font-size: 15px;
    font-weight: bold;
    display: Flex;   
    justify-content: center;
    margin-top: 50px;
  }
  .studentUsername,.studentPass{
    margin-top: 10px;
    border-style: none;
    border-radius: 8px;
    color:green;
    font-size: 20px;
  }
  #studentLogin-btn{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 8px;
    border-color: yellow;
    background-color: green;
    color:yellow;
  }
  .teacherUsername,.teacherPass{
    margin-top: 10px;
    border-style: none;
    border-radius: 8px;
    color:green;
    font-size: 20px;
  }
  #teacherLogin-btn{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 8px;
    border-color: yellow;
    background-color: green;
    color:yellow;
  }
  .register-link,.copyright-link{
    color: yellow;
    text-decoration: none;
  }