* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type='text'],
button {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
	padding: 5px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: yellow;
}

.logo {
	position: absolute;
	border-style: solid;
	background-color: yellow;
	top: 3px;
	left: 5px;
	padding: 5px;
	border-radius: 20px;
	color: green;
	font-size: 37px;
}

.logo:hover {
	background-color: green;
	color: yellow;
}

.register-link {
	color: yellow;
	text-decoration: none;
}

.navBar {
	position: relative;
	border-style: solid;
	border-color: green;
	background-color: green;
	height: 80px;
	width: 100%;
}

#signIn-btn {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 5px;

	border-style: solid;
	border-color: yellow;
	border-radius: 20px;
	background-color: green;
	font-family: cursive;
	color: yellow;
}

#signIn-btn:hover {
	background-color: darkgreen;
}

#teacher-btn {
	margin-top: 230px;
	border-radius: 20px;
	border-color: yellow;
	color: yellow;
	padding: 10px;
	background-color: green;
	font-size: 30px;
}

#student-btn {
	margin-top: 230px;
	border-radius: 20px;
	border-color: yellow;
	color: yellow;
	padding: 10px;
	background-color: green;
	font-size: 30px;
}

#student-btn:hover,
#teacher-btn:hover {
	background-color: darkgreen;
}

.heading-quizsu {
	margin-top: 80px;
	display: flex;
	justify-content: center;
	font-weight: bolder;
	font-family: cursive;
	color: darkgreen;
}

#q-icon {
	font-size: 28px;
	font-weight: bolder;
	color: darkgreen;
}

.quizsuTagline {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	font-weight: bolder;
	font-family: cursive;
	color: darkgreen;
}

.teacher-outer {
	margin: 10px;
}

.teacher-stn {
	background-color: #ff7e8e;
	width: 320px;
	height: 350px;
	perspective: 1000px;
}

.teacher-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.teacher-front,
.teacher-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.teacher-front {
	background-image: url('../image/teacherFlip.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.teacher-back {
	background-color: green;
	color: white;
	transform: rotateY(180deg);
}

.student-outer {
	margin: 10px;
}

.student-stn {
	background-color: #c7d1dd;
	width: 320px;
	height: 350px;
	perspective: 1000px;
}

.student-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.student-front,
.student-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.student-front {
	background-image: url('../image/studentFlip.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

.student-back {
	background-color: green;
	color: white;
	transform: rotateY(180deg);
}

.footer-stn {
	margin-top: 30px;
	border-style: solid;
	border-color: green;
	background-color: green;
	height: 140px;
	width: 100%;
}

.copyright {
	color: yellow;
	font-size: 15px;
	font-weight: bold;
	display: Flex;
	justify-content: center;
	margin-top: 10px;
}

.register-form {
	margin-top: 10px;
	border-style: none;
	border-radius: 8px;
	color: green;
	font-size: 20px;
}
input {
	margin-top: 10px;
	border-style: None;
	border-radius: 8px;
	color: green;
	font-size: 20px;
}

#studentSignUp-btn {
	margin-top: 10px;
	font-size: 20px;
	border-radius: 8px;
	border-color: yellow;
	background-color: green;
	color: yellow;
}

#teacherSignUp-btn {
	margin-top: 10px;
	font-size: 20px;
	border-radius: 8px;
	border-color: yellow;
	background-color: green;
	color: yellow;
}

.login-link,
.copyright-link {
	color: yellow;
	text-decoration: none;
}

.studentFlip-description {
	font-weight: bolder;
	font-family: cursive;
	color: darkgreen;
	display: flex;
	justify-content: center;
}

.teacherFlip-description {
	font-weight: bolder;
	font-family: cursive;
	color: darkgreen;
	display: flex;
	justify-content: center;
}

.socialMedia-stn {
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: yellow;
	margin-bottom: 3px;
}

.socialMedia-stn i:hover {
	background-color: yellow;
	color: green;
}

.followUs {
	display: flex;
	justify-content: center;
	font-size: 18px;
	color: yellow;
}
.flipCards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}

hr {
	margin-bottom: 18px;
}
select {
	background-color: white;
	width: 272px;
	margin-top: 20px;
	border-radius: 10px;
	font-size: 18px;
}

.br {
	display: flex;
	justify-content: center;
}
